<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
    <test name="**************************SampleTest*************************************" >
 
    <classes>
       <class name="Selenium.MavenTest"/>
       <class name="Selenium.MavenSample"/>
    </classes>
  </test>

  <test name="%%%%%%%%%%%%%%%%%%%%%%%Sample TesNG test%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%">
    <packages>
        <package name="Selenium"></package>
    </packages>
  </test>
</suite>
